@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0;
  padding: 0;
}

@layer base {
  body {
    @apply font-body bg-lightPurple; /* Set global font and background color */
  }
}

.chakra-avatar__initials {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
